[2020-07-17 02:08] margaretmz opened #1 "YOLO: create and publish a tflite model on TF Hub"

[2020-07-17 02:08] margaretmz opened #2 "YOLO: Android app"

[2020-07-17 02:08] margaretmz opened #3 "YOLO: iOS app"

[2020-07-17 03:03] sayakpaul opened #6 "DeepSpeech e2e tutorial"
Contributors: Abdul (@AbdulRashidReshamwala)

[2020-07-17 03:07] sayakpaul opened #7 "SSD MobileNetV2 e2e tutorial (with the latest TFOD API)"
Contributors: @khanhlvg, @sayakpaul

Repository: https://github.com/sayakpaul/E2E-Object-Detection-in-TFLite.

[2020-07-17 03:07] sayakpaul opened #8 "Mask R-CNN e2e tutorial"
Contributors: @sayakpaul, @khanhlvg

[2020-07-20 00:59] khanhlvg opened #9 "Convert to TF Lite: GAN model to cartoonize photos"
This model is implemented in TF 1 and can convert photos to cartoon. It looks quite visually impressive!
https://github.com/SystemErrorWang/White-box-Cartoonization

![Image2Cartoon](https://github.com/SystemErrorWang/White-box-Cartoonization/blob/master/images/use_cases.jpg?raw=true "Image2Cartoon")

@sayakpaul
Would you be able to try converting this model to TF Lite?

[2020-07-20 02:22] khanhlvg commented on #3
I don't think anyone started working on this yet so I moved it back to TODO.

[2020-07-20 02:24] khanhlvg commented on #1
@hunglc007 who created this (repo)[https://github.com/hunglc007/tensorflow-yolov4-tflite] is working on converting YOLOv3_tiny to TF Lite. So far he has succeeded on creating a YOLOv3_tiny model that can run on TF Lite GPU.

The model training part is still needed to be done in darknet. Hung is working on implementing a training pipeline on TF2.

[2020-07-20 02:35] khanhlvg opened #10 "Android demo for SPICE model"
@farmaker47 is working on a sample app that implements the [pitch detection (SPICE) model](https://tfhub.dev/google/spice/2) on Android.

You can find the app source code [here](https://github.com/farmaker47/Pitch_Estimator)

[2020-07-20 03:18] sayakpaul commented on #9
Thank you for bringing this to my notice, @khanhlvg. I have self-assigned this and will start working on it. I will keep you posted about the progress here in this thread.

[2020-07-20 08:17] farmaker47 commented on #10
Working on pitch detection (SPICE) [model](https://tfhub.dev/google/spice/2) I tried to do some inference with the use of .tflite model I got from [here](https://tfhub.dev/google/lite-model/spice/1) inside a colab notebook. I used below code:

`import numpy as np
import tensorflow as tf

# Load the TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="lite-model_spice_1.

[2020-07-20 11:24] khanhlvg commented on #10
I changed 2 things:
* Use tf-nightly as Flex ops (Select TF ops) in the model is only available via TF Lite Python API in TF Lite 2.3 and above.
* As this is a dynamic shape model, resize the input shape to match with the input array.

https://colab.research.google.com/gist/khanhlvg/7027020c14bb343878b0b434a0dff105/spice-model-tf-lite.ipynb

I was able to run inference with the model but the resul

[2020-07-20 11:40] farmaker47 commented on #10
Model on android (.tflite) results:
![phone](https://user-images.githubusercontent.com/26084498/87933768-84caa680-ca96-11ea-90eb-3e97045722ab.JPG)

Model on colab (saved model format) results:
![colab](https://user-images.githubusercontent.com/26084498/87933822-9ad86700-ca96-11ea-9b7d-e3f567dce331.JPG)

I just wanted to know why I cannot run .tflite on colab.

That issue does not impact my develop

[2020-07-20 14:45] sayakpaul commented on #9
Hey @khanhlvg I have started working on it. I have been able to extract a `SavedModel` out of the pre-trained checkpoints but I am running into issues during the TF Lite conversion step:

[code]

Here's the [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/e2926e123d5c2f18b3e6f3ad4a9016f6/scratchpad.ipynb).

[2020-07-20 15:28] khanhlvg commented on #9
The stylized image looks really cool!

Could you try converting with tf-nightly? The model has a dynamic shape input and it's only supported since TF 2.3.

[2020-07-20 15:48] sayakpaul commented on #9
Ah bummer. How could I miss out on that part?  😖

I just tried it out and guess what? The TF Lite model (**6.4 KB**) is converted 😄

Now, what's needed is the pre-trained weights for the generator network. I have filed [an issue already in their repository](https://github.com/SystemErrorWang/White-box-Cartoonization/issues/25). As soon as I have an update, I will keep this thread posted. Here's th

[2020-07-20 19:51] AbdulRashidReshamwala commented on #6
https://github.com/AbdulRashidReshamwala/DeepSpeech_demo

[2020-07-21 02:59] khanhlvg commented on #9
Wow 6.4KB doesn't sound very right. I suspect that some weights might have been left out when converting to TF Lite. Could you try running inference with the TF Lite model?

[2020-07-21 03:08] sayakpaul commented on #9
@khanhlvg yes, I suspected that one too. I tried replicating the original inference pipeline with the converted TFLite model and the output is coming to be spurious.

Here's the [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/b51009fc1287e525acaedf23c1fc1ba7/scratchpad.ipynb). Let me know if I am missing out on something.

[2020-07-21 03:44] sayakpaul commented on #6
@AbdulRashidReshamwala could you please lament on what are all remaining in this tutorial?

Cc: @khanhlvg

[2020-07-21 06:11] khanhlvg commented on #9
The issue came from your saved model export code. You use an intermediate output (`network_out `) of the GAN model as one of the model input, so that TFLiteConverter get confused and removed the whole GAN network from the TF Lite model. You can retry with this code.
[code]

However I'm still facing an issue that the color of the output is off. I think there's an issue with pre/post-processing code

[2020-07-21 06:39] khanhlvg commented on #9
I was able to make it working! Here is the [notebook](https://colab.research.google.com/gist/khanhlvg/bdbb805edb1be69a75ef5f12c70b48ce/scratchpad.ipynb#scrollTo=zEDEGgo0n0Te)

The weird color issue is because the model use cv2 for preprocessing and post-processing, which use BGR. However in your notebook, visualization is done with PIL which use RGB. Therefore, a small swap was needed.

I run benc

[2020-07-21 06:41] sayakpaul commented on #9
Not sure if this is a coincidence again. I was just able to inform you about this @khanhlvg

[2020-07-21 06:45] sayakpaul commented on #9
What next steps would you suggest @khanhlvg for the conversion?

[2020-07-21 06:45] khanhlvg commented on #10
Gus provided a guide on how to run on Colab. Here is the updated [notebook](https://colab.research.google.com/gist/khanhlvg/7027020c14bb343878b0b434a0dff105/spice-model-tf-lite.ipynb)

[2020-07-21 06:53] khanhlvg commented on #9
@sayakpaul
Would you be able to:
* Create several variations of the model:
  * float16 with fixed input shape (e.g. 224 x 224) to run on GPU
  * full integer quantized model
* Add metadata to make it easy to integrate to Android

Besides, I made a mistake with benchmarking. I forgot to set the shape for the input image. The model is actually quite slow. For example, an 224 x 224 input on int8 mode

[2020-07-21 07:00] sayakpaul commented on #9
Yes, even on a Colab CPU the model takes quite a while to spit out the results.

Sure. Could you mention which Metadata example I would refer to for this?

The model might not be very fast. Would we still want to do this? Now, of course, it's still a very cool example to create a mobile app with this kind of capability.

@khanhlvg

[2020-07-21 07:23] khanhlvg commented on #9
It's because TF Lite runtime is not optimized to run quantized model on Linux. If you use float model, then it'll be using XNNPACK and it's blazingly fast. The quantized model runs faster on mobile devices vs. on Colab.

Please use the selfie2anime metadata format. It's the same concept: image in -> image out.

Inference time below 1s on CPU is still very good for still images. And the quantized m

[2020-07-21 07:28] sayakpaul commented on #9
Yes, I am aware of this. Just wanted to bring the topic up so that you know.

I will proceed with the next steps and post the updates here.

Thanks!

[2020-07-21 08:03] farmaker47 commented on #10
I was able to run inference with .tflite model with notebook that @khanhlvg and @Gus has provided.

Output from colab:
![colab_2](https://user-images.githubusercontent.com/26084498/88027836-805ac800-cb40-11ea-8ff8-6f5c95238963.JPG)

Output from phone:
![mob](https://user-images.githubusercontent.com/26084498/88027865-8c468a00-cb40-11ea-964b-5805f1546891.JPG)

The final colab [notebook](https://col

[2020-07-21 10:40] sayakpaul commented on #9
@khanhlvg a couple of updates.

I converted four different variants: float16, dynamic-range, int8 and full int8. All of the models (_metadata is yet to be added_) reside here: **gs://cartoon_gan** (public). I did not export the float16 model to support dynamic shape as we had discussed.

Here is the [Colab Notebook](https://colab.research.google.com/github/sayakpaul/Adventures-in-TensorFlow-Lite/b

[2020-07-21 13:14] sayakpaul commented on #9
@khanhlvg metadata has been added to the models and they live here: **gs://cartoon_gan/model_with_metadata**.

Here's the [Colab Notebook](https://colab.research.google.com/gist/sayakpaul/a2bd188cc5f46722bc28929d569f085c/scratchpad.ipynb).

[2020-07-22 00:12] khanhlvg commented on #9
Thanks Sayak!

The model is trained with BGR images so if you feed it an image in RGB, the output cartoonized image won't look as good as if you feed it an BGR images.

Tensor index doesn't have any special meaning, just an id so feel free to ignore the actual number.

It's because the model cv2 loads images as BGR. Therefore if you load your input image using cv2, then you should do the
 `image =

[2020-07-22 03:04] sayakpaul commented on #9
Fair points, @khanhlvg. I will update the notebook accordingly.

Could you verify if the metadata has been populated correctly when you get a moment?

Upon your go-ahead I will proceed to TF Hub publication (which I know will be done after we are done with the GPU delegate issue).

Also, enjoy your days off!

[2020-07-22 03:16] margaretmz commented on #9
@sayakpaul I should verify the tflite model with metadata with the Android app.

Please place the tflite models with/without metadata under a ml folder here: https://github.com/margaretmz/CartoonGAN-e2e-tflite-tutorial/tree/master. Or update the README with links pointing to the models. It's difficult to hunt them down from the discussion thread here.

[2020-07-22 03:33] sayakpaul commented on #9
I did not realize you created a repository @margaretmz as I was planning to have the notebook hosted from [here](https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite). And once @khanhlvg and I were done publishing the models on TF Hub we the plan was to directly download them from TF Hub.

You can retrieve the models (with metadata from here) :

- **Dynamic-range quantized**: https://storage

[2020-07-22 03:35] sayakpaul opened #11 "CartoonGAN Android App"
Contributors: @margaretmz

GitHub repository: https://github.com/margaretmz/CartoonGAN-e2e-tflite-tutorial/.
Model conversion issue thread: https://github.com/ml-gde/e2e-tflite-tutorials/issues/9.

[2020-07-22 03:37] sayakpaul commented on #9
@margaretmz FYI I went ahead and [created a card](https://github.com/ml-gde/e2e-tflite-tutorials/projects/2#card-42315031) for CartoonGAN Android App and I also created an issue from the card: https://github.com/ml-gde/e2e-tflite-tutorials/issues/11.

[2020-07-22 04:09] sayakpaul commented on #9
@khanhlvg the outputs with the `int8` models still remain the same after I ran a BGR image through them and applied `cv2.cvtColor()` after running the inference.

Here's the [updated Colab Notebook](https://colab.research.google.com/github/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/CartoonGAN_TFLite.ipynb).

[2020-07-22 04:13] sayakpaul opened #12 "E2E tutorial with ESRGAN (Enhanced Super Resolution GANs)"
Contributors: @margaretmz, @sayakpaul
GitHub repo: https://github.com/margaretmz/esrgan-e2e-tflite-tutorial/

[2020-07-22 04:26] margaretmz commented on #9
@sayakpaul -
**Project repo** - each tutorial will be a separate project repo. I only created the project repos for the ones that I'm working on: selfie2anime, esrgan, CartoonGAN, segmentation + style transfer. I expect other project teams to create their own repos and add the links to the E2E TFLite Tutorials repo.
**Where to host tflite models** - either on your GitHub or TFHub would be fine; ho

[2020-07-22 04:30] sayakpaul commented on #9
Thanks, makes sense. I think we could work on a short document to enlist these different steps to let the interested contributors know about how we generally go about doing things here.

Let me know your thoughts.

[2020-07-22 04:51] margaretmz commented on #9
Sounds good. How about use the wiki:https://github.com/ml-gde/e2e-tflite-tutorials/wiki/How-to-contribute-to-the-E2E-TFLite-Tutorials%3F?
Although I felt some of the info is already covered in README. Perhaps we just need to update README? Which would you prefer?
Either way, we should try out the documented workflow to make sure it works, before communicating widely to the broader community. Thank

[2020-07-22 04:55] sayakpaul commented on #9
@margaretmz I think having it on README would work as well.

I am in 100% agreement.

[2020-07-23 04:48] sayakpaul commented on #9
@khanhlvg I was able to fix the issue with int8 models. The problem was I was passing randomly created data of `(1, 224, 224, 3)` shape and this is probably why the calibrations weren't being done properly. Also, there was no way the system could understand the order of the channels from a randomly created images.

So, here's what I did:

[code]

The output is now coming as expected:

![image](htt

[2020-07-23 12:10] sayakpaul opened #14 "Converting EAST to TFLite"
Contributors: @sayakpaul

[2020-07-23 12:30] sayakpaul commented on #14
PyImageSearch has got this blog post [**OpenCV Text Detection (EAST text detector)**](https://www.pyimagesearch.com/2018/08/20/opencv-text-detection-east-text-detector/). EAST was proposed in [An Efficient and Accurate Scene Text Detector](https://arxiv.org/abs/1704.03155).

From the blog post:

I decided to convert the EAST frozen inference graph to TF Lite and prepare a Colab Notebook. It can be

[2020-07-26 07:08] sayakpaul commented on #14
I have added the int8 (fully int8) model as well and it can be downloaded from [here](https://storage.googleapis.com/east_tflite/east_model_int8.tflite).

[2020-07-27 06:54] sayakpaul opened #15 "Converting keras_ocr to TFLite"
@khanhlvg as you might know [`keras_ocr`](https://pypi.org/project/keras-ocr) is a pretty popular repo for not only just making inference for OCR but also it allows us to fine-tune on our own datasets. So, I thought of converting the pre-trained models to TFLite.

There are two models to take care of:
- The detection model to actually localize text in an image
- The recognizer model to actually re

[2020-07-27 06:55] sayakpaul commented on #14
@khanhlvg should we go for publishing this to TF Hub? Also, if we were to add metadata what reference do we have?

[2020-07-27 07:50] khanhlvg commented on #14
Sure, please publish it on TF Hub.

My understanding is that this model is an object detection model but instead of detecting objects, it detects text in the scene. Is that correct? If that's the case, we can populate it with object detection metadata. Let me see if object detection metadata is ready first but please expect some delays as the team is currently blocked with some time-sensitive work

[2020-07-27 08:02] khanhlvg commented on #14
Sure.
* `east_model_fp16.tflite` model couldn't run on GPU as it's dynamic shape. Could you export a fixed shape model? The model shape should be the same as the training data.
* `east_model.tflite` on Pixel 4 CPU 4 threads
[code]

* `east_model_int8.tflite` on Pixel 4 CPU 4 threads
[code]

[2020-07-27 09:21] sayakpaul commented on #14
Thanks, @khanhlvg.

yes, correct. Should be similar to detection metadata. Totally understandable regarding the delay factor.

Let's do it then 👍

Sure, I will do that.

Quick question: What are your thoughts in general on the inference time of the models?

[2020-07-27 09:31] khanhlvg commented on #14
I feel that it's on the slower side of object detection models but inference side largely depends on model input size. I run the benchmark on 384x384 image but if the model was trained on 256 x 256 and can perform well with that lower resolution, then that will be a huge speed up factor.

IMO text detection doesn't need to run on video so inference time below 1s is still very useful.

[2020-07-27 10:33] sayakpaul commented on #14
@khanhlvg thanks for providing these additional pointers. I exported the [float16 model](https://storage.googleapis.com/east_tflite/east_model_float16.tflite) with a fixed shape (`1, 320, 320, 3`). I tried with other (lower) shapes but the results were poor (which seemed quite obvious as the (320x320) was the training dimension.

The float16 model has now fixed shape as you can see:

![image](http

[2020-07-27 11:52] khanhlvg commented on #14
If you convert from frozen graph, you can fix the input shape like this:
[code]

I had to reconvert the graph using TF 2.2 because the tf-nightly version use a newer Conv2D ops that wasn't supported by TF Lite GPU delegate yet. Here is the inference speed. It's definitely fast enough for still image inference 👍
[code]

[2020-07-27 12:16] sayakpaul commented on #14
Okay cool. Thanks, @khanhlvg. Would you advise me to reconvert the models in TF 2.2 before uploading them to TF Hub?

[2020-07-27 13:16] khanhlvg commented on #14
Yes please convert using TF 2.2 with 320 x 320 fixed shape input as this model was trained on 320 x 320 images and likely work best on that resolution. Unlike the image -> image models where using high resolution input images will preserve the details for the output images, I don't see much benefit on providing a dynamic shape model in this object detection model.

I think in your notebook, you fo

[2020-07-27 14:30] sayakpaul commented on #14
Thank you, @khanhlvg. PR has been created: https://github.com/tensorflow/hub/pull/647.

[2020-07-28 03:06] margaretmz commented on #9
Thanks @sayakpaul. I will add Android code to [the project repo](https://github.com/margaretmz/CartoonGAN-e2e-tflite-tutorial soon. So far I'm encountering errors running inference with the tflite models:

- DR quantized & full int8: For I got error "Cannot copy from a TensorFlowLite tensor (final_output) with 192 bytes to a Java Buffer with 12 bytes"
- FP16: output bitmap is black.

@khanhlvg - d

[2020-07-28 03:27] sayakpaul commented on #9
@margaretmz are you using the `tf-nightly` interpreter? I converted the models using `tf-nightly`. Sorry, I should have mentioned it.

FYI the output image also needs a bit of processing as you'd see in the [Colab Notebook](https://colab.research.google.com/github/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/CartoonGAN_TFLite.ipynb). If I missed out on that in the while populating metadata

[2020-07-28 04:15] khanhlvg commented on #9
I think this is because the ML Model Binding doesn't support resizing the input shape yet. Let me file a bug to the Android Studio team. Thanks for surfacing the issue!
Meanwhile, @margaretmz @sayakpaul do you think we should create fixed shape model to proceed, or wait for Android Studio team to support dynamic shape model?

As model interface generated by ML Model Binding takes Bitmap as the inp

[2020-07-28 04:24] sayakpaul commented on #9
I think this would be a win-win. We already have the dynamic-shape supporting models with us. If we decide to go down this path what shape would y'all suggest we keep?

Might be a better choice.

[2020-07-28 04:28] khanhlvg commented on #9
If we create a fixed shape model, then (512, 512) is probably good enough.

[2020-07-28 04:46] sayakpaul commented on #9
Fair enough. Once we all decide the next steps from here I can go ahead and create separate models with fixed-shaped inputs and populate them with metadata.

[2020-07-28 09:16] sayakpaul commented on #14
@khanhlvg

Results on my humble MacBook Air (13-inch, 2017) (Processor: 1.8 GHz Intel Core i5) (Memory: 8 GB 1600 MHz DDR3):

[code]

**TensorFlow version**: 2.3.0
**Model**:  [float16](https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite/releases/download/v0.6.0/east_model_float16.tar.gz)

Demo available [here](https://www.youtube.com/watch?v=CpywwaAmHPs).

For folks that might be intereste

[2020-07-29 03:58] sayakpaul commented on #14
Published on TF Hub: https://tfhub.dev/sayakpaul/lite-model/east-text-detector/dr/1.

[2020-07-29 03:58] #14 closed

[2020-07-29 07:38] farmaker47 commented on #10
[Android code](https://github.com/farmaker47/Pitch_Estimator) already logs correct notes.

Output for the **same audio file** ->

From colab notebook:
![colab](https://user-images.githubusercontent.com/26084498/88770962-36e52b00-d187-11ea-850f-fd721754a754.JPG)

From mobile phone:
![mobile](https://user-images.githubusercontent.com/26084498/88770989-42385680-d187-11ea-943b-d9e6e0a3bc3a.JPG)

Next

[2020-07-31 16:48] margaretmz commented on #9
Yes I'm using tf-nightly interpreter

If the metadata is set properly the post processing should be taken care of by the generated class.

I will try to track the issues under the [project repo](https://github.com/margaretmz/CartoonGAN-e2e-tflite-tutorial) to that's it's easier to find. Let's try to use the issues in this repo for assigning project resources and then track details under each proje

[2020-08-01 03:17] sayakpaul commented on #9
Thanks, @margaretmz. I will proceed with converting the models with fixed shaped (520, 520) inputs.

I am in agreement.

I am going to close this issue, and let's shift all of our communication [here](https://github.com/margaretmz/CartoonGAN-e2e-tflite-tutorial/issues).

Cc: @khanhlvg

[2020-08-01 03:17] #9 closed

[2020-08-06 09:43] khanhlvg commented on #10
Thanks @farmaker47 for making a lot of good progress on the sample! Could you share the recent updates here as well?

Here are some suggestion for finalizing the sample and get ready to publishing. We'd like to feature them on TensorFlow Twitter account to spread the word.
* Create a video to demo the app. It should have both the app screen recording and the sound that it detects.
* Clean up this

[2020-08-09 08:19] farmaker47 commented on #10
Emulator cannot open application and after extensive debugging the problem is with:

With this dependency AS is producing an APK of   **311MB**(!!!!!!!!!)  which is loaded correctly on physical devices and runs without problems producing results. But the emulator cannot load it and crashes at the beginning giving:

Without this dependency AS is producing a 32MB APK which is loaded on physical devi

[2020-08-09 23:40] khanhlvg commented on #10
I tested on my app and found that select ops added about 90MB to the APK size (going from 25.7MB to 116.5MB). Your size change is much larger than that so can you [clear your local gradle cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache) to pull the latest version of select ops library and try again?

In practice, we don't include the whole select ops binary to the pro

[2020-08-10 05:13] farmaker47 commented on #10
No luck with cleaning local gradle cache. From 332 MB to 324MB after cleaning.
I do not know if you built it and loaded it on your emulator. Please inform if at your computer at least loads correctly on emulator.

I will prepare myself with screen mirroring app. I think we will be good to go with this option!!

Thanks

[2020-08-13 07:16] khanhlvg commented on #10
I asked a TFLite engineer to investigate the size difference and it turned out that APK compression logic involves some uncertainty around the compression ratio. If we extract my APK and your APK, the total size are almost the same.

I could also run your [app](https://github.com/farmaker47/Pitch_Estimator) on an Android Emulator. Maybe your emulator didn't have enough memory. I allocate 4GB RAM f

[2020-08-13 07:27] farmaker47 commented on #10
Thank you Khanh for investigating this,

For the meeting I am ready with phone mirroring. I will check tomorrow with
more memory.

Στις Πέμ, 13 Αυγ 2020 στις 10:17 π.μ., ο/η Khanh <notifications@github.com>
έγραψε:

[2020-08-13 10:06] khanhlvg opened #16 "Style transfer video freeze"
@farmaker47
I tried your style transfer for video [app](https://github.com/farmaker47/video_style_transfer) on both Pixel 3 (OpenCL) and Pixel 1 (OpenGL) and they both worked fine with GPU.
Here is the screen recording on my Pixel 3: https://youtu.be/oT9gH6OHXUI

Could you share more about the issue you had with GPU?

[2020-08-13 10:17] farmaker47 commented on #16
Hi Khanh,

Thank you for testing this.

 But from video it is not clear if you move the screen up and then down
when GPU is on. Can you do this ...move the screen or scrolling fast the
recycler view when GPU is on??

Please share the results when you do this

Thanks

Στις Πέμ, 13 Αυγ 2020, 1:06 μ.μ. ο χρήστης Khanh <notifications@github.com>
έγραψε:

[2020-08-13 10:25] khanhlvg commented on #16
Yes I can do it without any problem on my Pixel 3 ([video](https://youtu.be/P9kDMsryLP4))

[2020-08-13 10:28] farmaker47 commented on #16
Ok nice!!

I will share later a video of my phone and the specs of the device.

Στις Πέμ, 13 Αυγ 2020, 1:25 μ.μ. ο χρήστης Khanh <notifications@github.com>
έγραψε:

[2020-08-13 12:36] sayakpaul commented on #9
@khanhlvg and @margaretmz models published on TF Hub: https://tfhub.dev/sayakpaul/lite-model/cartoongan/dr/1

[2020-08-13 14:57] farmaker47 commented on #16
Hi Khanh,

I send you a screen recording of my phone. The first 6 seconds are with CPU
usage. You can see that it freely moves up and down and recycler view goes
fast to the last element. Then I switch to GPU and there is a lag in moving
screen up and down and when I fling the recycler view there is a stop (at
moving) and then moving is continuing until the last or first element.
 Screenrecord.mp4

[2020-08-13 15:05] farmaker47 commented on #16
Searching a little bit more I found specifications for my phone's graphic card. (Adreno 509)
https://www.notebookcheck.net/Adreno-509-vs-Adreno-512_8782_8778.247598.0.html

[2020-08-14 01:44] khanhlvg commented on #16
I think the delay is caused by GPU being busy, so that it can't handle screen rendering well. You can try reducing the frame rate (e.g. add a small delay between each frame) and see if it helps avoiding the UI lagging.

[2020-08-17 09:04] farmaker47 commented on #10
Hi Khanh,

- Video demo of the project [here](https://youtu.be/v1d3o4r40PQ)
- I have changed my draft colab notebook with the one that is provided inside tensorFlow Hub
- I have updated README file as you suggested
- Added a link to [awesome-tflite](https://github.com/margaretmz/awesome-tflite) repo

I have have already finished version 2 of project with more words of the song and seamless work of

[2020-08-18 10:16] khanhlvg commented on #10
Thanks George for the update!

Re: your question:

Flex delegate is the TF Lite engine to run TF [select ops](https://www.tensorflow.org/lite/guide/ops_select). As the SPICE model contains some ops that are not TFLite builtin, it requires Flex delegate to run.
It's just a FYI log, telling you that 18 of the ops in your model is run on Flex delegate. There's nothing that can be done on the user sid

[2020-08-19 05:32] farmaker47 commented on #10
Thanks for clarifying the issue with Flex delegate. It is nice to know how things work under the hood!

FYI version 2 of Pitch Detector [project](https://github.com/farmaker47/Pitch_Estimator) is ready!
After testing it I can assure that:
- Microphone gain is at acceptable level and can collect quality sound even with whispers.
- Output of the model is exactly the same as the output of the provide

[2020-08-25 01:32] khanhlvg commented on #10
Thanks George!

I tried the app but it crashed with this error right after I press the "fish" button and start singing.

[code]

[2020-08-25 05:42] farmaker47 commented on #10
Too bad!
I started working on it...

Is your device Pixel 3?

[2020-08-25 08:08] farmaker47 commented on #10
Problem is solved!

It seems that there is an issue with the internal storage Permission.
Application writes every .wav file to internal storage for the user to have the ability to compare results with colab notebook.
This feature is optional and can be deleted in future versions if is not desired.

I know that pop up dialog info is a little misleading BUT (for this app version) this permission is

[2020-08-28 13:24] khanhlvg commented on #10
Thanks for fixing the issue, George! And sorry for the delay in my response as I has been busy with several things this week.

I think the permission is fine, given this is just a demo app. Can you add a short explanation on the README file and add a comment in the code that request the permission for those who wonder why the permission is required.

Let me close this issue as the app is now fully

[2020-08-28 13:24] #10 closed

[2020-08-28 13:35] khanhlvg opened #18 "Speech Command Tutorial"
@farmaker47 thank you for agreeing to help with the speech command tutorial!

## Background
* [Speech command](https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands) sample is already available on GitHub but there's no good documentation explaining how to use it.
* We'd like you to help with creating and end-to-end tutorial on how to train the TFLite model and deploy it

[2020-08-29 07:18] farmaker47 commented on #18
I started working on it!
Thanks

[2020-09-03 05:38] farmaker47 commented on #18
Hi Khanh,

@khanhlvg
There is a broken link inside project... at this [file ](https://github.com/tensorflow/examples/blob/master/lite/examples/speech_commands/android/app/src/main/java/org/tensorflow/lite/examples/speech/SpeechActivity.java) line 20.

Has this tutorial moved to new location?

Thanks

[2020-09-03 07:42] khanhlvg commented on #18
I just learnt that there's an engineer in TFLite team is now working on rebuilding the speech command sample using TF2 and that may overlap with the tutorial that you're working on.

Do you mind pausing the effort for now? Sorry for the back and forth...

I think it was taken down from TF.org because it's a TF 1 tutorial. I think it's the same one with this document on GitHub.
https://github.com/t

[2020-09-03 07:46] farmaker47 commented on #18
Yes no problem,

I saw that code was with TF version 1.14 and I was wondering if everything was going to compile.
It is a wise decision to pause the effort for creating the colab notebook for now...but nothing will stop me from converting Speech commands app to Kotlin... :) :) :)

Thanks

[2020-09-03 07:52] khanhlvg commented on #18
That's nice! There won't be overlapping on that so please proceed :) Once the training code is converted to TF2, we can connect it with the new Kotlin app that you are going to build.

[2020-09-05 05:43] farmaker47 commented on #18
Hi Khanh,

I want to ask if I can use the same colors, TensorFlow logos and layouts inside Speech commands Kotlin app. Is it a problem?

[2020-09-08 03:42] farmaker47 commented on #18
Update.
App is almost ready.
Kotlin, MVVM, DI, Coroutines.

Working already:
- When user says one of the screen words the specific boxes are highlighted.
- UI is exactly the same

Not working yet:
- Minus and plus button for threads

Also I want to ask if I have to unhide selection for NNAPI delegate and make it work. This option is hidden and apparently never completed. Do you think I have to sho

[2020-09-08 03:48] khanhlvg commented on #18
Sure, feel free to use the TF colors.

If it wasn't shown in the current app UI and not currently used then I think it's fine to keep it that way.

[2020-09-08 08:10] farmaker47 commented on #18
I have already finished app.
Now minus and plus button select number of threads and keeps number upon rotation.
Also application is working during configuration changes.

I have created a landscape layout file:
![Screenshot_2020-09-08-11-03-27-816_com george speech_commands_kotlin](https://user-images.githubusercontent.com/26084498/92449908-62662700-f1c3-11ea-8f8e-8a6a8e925fa1.jpg)

I will work th

[2020-09-08 14:14] farmaker47 commented on #18
I played with some delegates

It seems that GPU is not supported as there is no improvement of speed.

But I think NnApiDelegate is supported as it give results....lower inference time but it runs with no problems.
CPU time 100ms with 1 thread

NnApiDelegate time 350ms with 1 thread

[2020-09-09 01:48] khanhlvg commented on #18
It's very likely that NNAPI CPU implementation is slower, especially if you're using an older phone because NNAPI implementation is included in Android while TFLite CPU implementation can be updated over time.

Given that the delegates don't provide any performance advantage, let's exclude it from the UI then.

[2020-09-09 17:01] sayakpaul commented on #7
@khanhlvg after I was able to successfully export the TFLite model I tried the inference pipeline. But I could not make sense of the interpreter outputs. The format of the TFOD API output and TFLite interpreter output differ. Could you provide me a reference here?

Here's the TFLite model for your reference:
[pets_detector.tflite.zip](https://github.com/ml-gde/e2e-tflite-tutorials/files/5196828/pe

[2020-09-10 05:33] #11 closed

[2020-09-10 05:42] khanhlvg commented on #7
You can take a look at this object detection [sample](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/raspberry_pi) on how to use the model using Python API.

[2020-09-10 07:40] farmaker47 commented on #7
Trying to play with Object detection TF.2 I created a [colab notebook](https://colab.research.google.com/drive/1cUKWuSoSLLIJ5wJl2J0fNsTkZPB3ZJJe?usp=sharing) to convert saved models from [TensorFlow v.2 model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) to .tflite.
Apparently despite it is stated that SSD models can be converted I have

[2020-09-10 07:46] sayakpaul commented on #7
@farmaker47 in order to be able to convert the graph to TFLite the graph needs to be compatible with the converter. Please either follow the Colab Notebook I mentioned or follow the commands mentioned [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md#step-1-export-tflite-inference-graph).

[2020-09-11 01:41] khanhlvg opened #21 "MobileDet on TFLite"
@sayakpaul , could you help trying out the MobileDet model for TFLite?

1. Convert the pretrained MobileDet TF1 model to TFLite using the existing [export script](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) and convert with latest (v2.3) TFLiteConverter.
2. Put together an e2e guide on training a MobileDet model with the pet

[2020-09-11 01:42] khanhlvg opened #22 "Object Detection training purely on Colab"
Hi @sayakpaul , could you try to put together a notebook that show how to train a TF2 Object Detection model using Colab GPU?

@farmaker47 FYI

[2020-09-11 02:03] khanhlvg opened #23 "Write a blog post comparing different BERT for mobile models"
[DistilBERT](https://arxiv.org/abs/1910.01108) and [MobileBERT](https://arxiv.org/abs/2004.02984) are currently 2 optimized versions of BERT for mobile. Developers may wonder which version they should use, so we can write a blog post comparing the two.

Some ideas on what to be included in the blog post:
* Include two tasks: text classification and Q&A. Text classification has higher priority thou

[2020-09-11 02:57] sayakpaul commented on #23
Thanks for summarizing this @khanhlvg. I have prior experience of using DistilBERT on text classification tasks. So I think we can start off with that and then make our progress to QnA.

[2020-09-11 03:00] sayakpaul commented on #22
@khanhlvg thanks for creating the issue. A few things:

- This [Colab Notebook](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb) shows few-shot learning in the context of object detection and it includes training too.
- Should I show the classic declarative configuration based training on Colab i.e. the non eager

[2020-09-11 03:02] khanhlvg commented on #16
As the delay was caused by limitation in the phone's hardware spec, I think there's not much we can do about it.

[2020-09-11 03:02] #16 closed

[2020-09-11 03:05] sayakpaul opened #24 "Few-shot object detector to TFLite"
@khanhlvg the [TFOD API few-shot training example](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tf2_colab.ipynb) uses this checkpoint `ssd_resnet50_v1_fpn_640x640_coco17_tpu-8`.

Would be nice to see if that fine-tuned model is convertible to TFLite using the recommended instructions. WDYT?

[2020-09-11 03:06] khanhlvg commented on #15
Sorry somewhat this issue slipped from my inbox.

I tried running your notebook but it failed in early stage.
![image](https://user-images.githubusercontent.com/5379361/92850185-19aea800-f427-11ea-87f1-7c3035f533ee.png)

[2020-09-11 03:26] khanhlvg commented on #24
Sure, we can try with that model.

[2020-09-11 03:37] sayakpaul commented on #15
Hi @khanhlvg.

If you change the `from . import tools` import to `import tools` in `/content/keras-ocr/keras_ocr/tools.py` I think it would work. Sorry, I forgot to include this note in the notebook.

[2020-09-11 05:17] sayakpaul commented on #24
@khanhlvg the only issue I found there is a lack of guidance to serialize a model trained using the eager mode. I have filed [an issue](https://github.com/tensorflow/models/issues/9224) for that. I will keep this thread updated once I have something.

[2020-09-11 05:38] khanhlvg commented on #15
I fixed that error and encounter another one.
![image](https://user-images.githubusercontent.com/5379361/92868240-75cff700-f43c-11ea-8bf9-f37126c622a0.png)

Can you send me the saved_model then?

[2020-09-11 05:41] khanhlvg commented on #24
I see. TFLite team also have a plan to work on a few shot training e2e notebook including the conversion to TFLite. Therefore you can prioritize working on the MobileDet models as it's unlikely that anyone will work on it soon.

[2020-09-11 05:47] khanhlvg commented on #22
I think using the non-eager way with the existing [script](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_training_and_evaluation.md#local) is fine as the goal is to provide the most simple e2e flow that run on Colab so that anyone can try it out without any cost.

I believe you can reuse most of your Cloud TPUs code, except running them on Colab rather than s

[2020-09-11 05:58] sayakpaul commented on #21
@khanhlvg I tried to convert the pre-trained checkpoints with the latest TFLite exporter script but I ran into issues. I tried the different `MobileDet` variants available [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_detection_zoo.md). In all of them, I ran into a common issue of `ValueError: ssd_mobiledet_dsp is not supported. See `model_builder.py`

[2020-09-11 06:19] sayakpaul commented on #15
@khanhlvg actually I don't have that saved. But I will get to when I can, expect some delay, though.

[2020-09-11 06:19] sayakpaul commented on #22
Fair enough!

[2020-09-11 06:20] khanhlvg commented on #21
MobileDet is implemented in TF1 so you'll need to use the [older export script](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) and use `%tensorflow_version 1.x` instead of tf-nightly.

[2020-09-11 07:06] sayakpaul commented on #21
@khanhlvg I was able to convert the different variants of MobileDet using the 2.3 TFLiteConverter. A couple of things to note:

- The exporter scripts generate a frozen graph and not a `SavedModel`. Hence, I used `tf.compat.v1.lite.TFLiteConverter.from_frozen_graph`.
- According to the instructions [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_m

[2020-09-11 07:49] sayakpaul commented on #21
@khanhlvg my bad. I had to carefully read this part -

![image](https://user-images.githubusercontent.com/22957388/92886573-626b5e80-f431-11ea-987d-d42ab74e0011.png)

I will modify it and will try out inference.

Quick question: Does it make sense to upload it to TF-Hub?

[2020-09-11 09:31] sayakpaul commented on #21
@khanhlvg I updated the Colab Notebook to include more utilities and also inference results. Would be great if you could give it a round of review. Also, the models are pretty fast. I will share the benchmark results soon.

The EdgeTPU and DSP variants of the model contain `fp32` and `uint8`. While the conversion with `fp32` variants went smooth it wasn't the case for `uint8`. The output tensors o

[2020-09-11 10:41] sayakpaul commented on #21
@khanhlvg benchmarking results:

![image](https://user-images.githubusercontent.com/22957388/92914633-6b682a00-f449-11ea-9208-f59c9138db76.png)

The timing denotes `inference_avg (ms)`. Benchmarking performed on Pixel 4.

[2020-09-11 23:10] khanhlvg commented on #21
For the MobileDet models trained on COCO, let me contact the author of the paper and asked them to upload their model to TFHub as they already have the converted TFLite model included with the checkpoints.

For the MobileDet models trained with other dataset (e.g. pet detector), definitely yes :)

The notebook mostly LGTM. I have only a few comments:
* `ssd_mobiledet_dsp_coco` and `ssd_mobiledet_e

[2020-09-12 03:18] sayakpaul commented on #21
Sure. Their checkpoints contain TFLite models already, so that's covered but my guess is that those models probably weren't generated using the latest TFLiteConverter.

Thanks for the suggestion. Although that dataset is great for demonstrating results, workflows, etc. but I don't think it's going to be practically very useful for the broader community.

Got it. So, I am guessing integer quantizat

[2020-09-12 06:30] sayakpaul commented on #24
Closing the issue for now then. Feel free to open it up.

[2020-09-12 06:30] #24 closed

[2020-09-12 06:40] sayakpaul commented on #21
A number of updates -

I included int8 quantization in the Colab Notebook. Here's how I prepared the representative dataset -

- Downloaded the `train2014` split (~14 GB) from [here](https://cocodataset.org/#download).
- Subsampled 100 images (more on this later). I have hosted this version [here](https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite/releases/tag/v0.9.0) in order for other pe

[2020-09-12 10:04] sayakpaul commented on #21
Here are the benchmarking results -

**ssd_mobiledet_edgetpu_coco_fp32_int8**

[code]

**ssd_mobiledet_dsp_coco_fp32_int8**

[code]

[2020-09-13 02:35] sayakpaul commented on #22
@khanhlvg I have been able to kickstart the training process in Colab (I have kept the number of steps to 2000 intentionally because of the runtime). Here's my [Colab Notebook](https://colab.research.google.com/drive/1Czj3oQjWWKyxa_QtJFHDtXdNnzFMyjgk?usp=sharing).

I used MobileDet (TensorFlow 1) for the purpose. Here's the ToC -

![image](https://user-images.githubusercontent.com/22957388/9300890

[2020-09-13 02:38] sayakpaul commented on #7
FWIW, I was able to complete the following workflow -

- Train an SSD MobileNetV2 on the pets dataset using Cloud TPUs.
- Export a TFLite compatible graph from the fine-tuned checkpoints using the [latest exporter script](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tf2.md).
- Convert to TFLite and run inference.

Here's my repository - https:/

[2020-09-13 03:46] sayakpaul commented on #22
@khanhlvg here's the updated [Colab Notebook](https://colab.research.google.com/github/sayakpaul/E2E-Object-Detection-in-TFLite/blob/master/Training_MobileDet_Custom_Dataset.ipynb). Let me know what you think.

[2020-09-14 06:12] farmaker47 opened #25 "Segmentation and Style Transfer project"

[2020-09-14 06:18] farmaker47 commented on #25
I found a useful class that provides several blending modes that would be useful for the project. it is PorterDuff.mode. You can find more info [here](https://developer.android.com/reference/android/graphics/PorterDuff.Mode)

[2020-09-14 07:29] khanhlvg commented on #25
I did a quick research and it looks like iOS also natively support Porter-Duff image overlay in `CoreGraphic`. See [this](https://stackoverflow.com/questions/36978908/implementing-porter-duff-compositing-operations-in-ios).

[2020-09-14 11:53] khanhlvg opened #26 "Image Segmentation Android sample to support multiple models"
Currently the TFLite [image segmentation](https://github.com/tensorflow/examples/tree/master/lite/examples/image_segmentation/android) sample only supports 1 segmentation model trained on COCO dataset with mobilenet_v2_0.5 backbone.

However, there are many different [versions](https://tfhub.dev/s?module-type=image-segmentation&publisher=sayakpaul) of image segmentation with different backbone arc

[2020-09-14 13:02] margaretmz commented on #26
Just to add a bit more details to the requirements - you can refer to these 2 samples:

* [Image Classifier](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android) (Java, Camera2)
  * `download.gradle` for downloading the various models
  * Classifier.java switches the models
  * CameraActivity.java has the UI code to switch the models with `modelSpinner`
*

[2020-09-14 13:13] khanhlvg commented on #22
What was the mAP you got for the pet dataset when training on Cloud TPU for long enough? How many training steps require to reach that mAP level?

If I remember correctly, the pet dataset was very big (several GBs) so 2000 steps with batch size = 32, as you pointed out, was not enough to train a pet detector with good accuracy.

If that's the case, I think there's 2 approaches:

1. Choose a smalle

[2020-09-14 13:30] sayakpaul commented on #22
I don't exactly remember but it was good enough (with 20 minutes of TPU training). The batch size was 512 and the number of steps was 2000 (here's the [configuration file](https://gist.github.com/sayakpaul/70c414fbe581def12f4b500659372c4f)).

I am explicitly mentioning the accuracy part being low due to the constraints. Practically speaking, for getting a reasonable detection performance at least

[2020-09-14 13:47] khanhlvg commented on #21
I'm not sure about this. The TFLite model bundled with the checkpoint was converted with the MLIR converter so it should be a recent TFLiteConverter though.

I meant to point out in the notebook that the `ssd_mobiledet_edgetpu_coco` and `ssd_mobiledet_dsp_coco` are supposed to be integer only quantized to be supported by EdgeTPU and DSP, as the two hardware accelerators only support integer models

[2020-09-14 13:53] khanhlvg commented on #21
The EdgeTPU uint8 model (ssd_mobiledet_edgetpu_coco_uint8)'s model output is completely different from the other models and I'm confused too. I'll need to investigate more.

[2020-09-14 14:08] khanhlvg commented on #21
I was able to integer quantize the fp32 (no QAT) version of the `ssd_mobiledet_edgetpu_coco` and `ssd_mobiledet_dsp_coco` variants. Please see this [Notebook](https://colab.research.google.com/gist/khanhlvg/e97366de045f8c01e94014faa2d69a05/mobiledet-integer-quantization.ipynb) for details.

An important point here is that the final post processing custom ops doesn't support int8, so you can't spec

[2020-09-14 14:21] khanhlvg commented on #22
Yes I mean with a smaller dataset, the model can reach an acceptable accuracy within a more reasonable time on Colab GPU.

I searched on Kaggle and found this [fruit dataset](https://www.kaggle.com/mbkinaci/fruit-images-for-object-detection) which might be interesting.

That's true. But I think in a practical use case, developer will need to create their own training dataset with some tool such as

[2020-09-14 14:28] sayakpaul commented on #22
I couldn't agree more. At work, we have used labelImg along with other tools like [Explosion](https://prodi.gy/features/computer-vision). But it only addresses one aspect of the pipeline (it's the **annotation** part). To be able to train with the TFOD API you would need to pack everything in TFRecords (at least if you are using it in a non-eager mode).

I will take a look at the dataset you menti

[2020-09-15 02:13] sayakpaul commented on #25
Could we please move this discussion to the project's GitHub? https://github.com/margaretmz/segmentation-style-transfer

I am closing this issue for now.

[2020-09-15 02:13] #25 closed

[2020-09-15 06:03] sayakpaul commented on #22
@khanhlvg ready: https://github.com/sayakpaul/E2E-Object-Detection-in-TFLite/tree/master/colab_training.

[2020-09-15 07:01] khanhlvg commented on #22
Wow this is so quick! Thanks Sayak.

Did you find the accuracy better with a smaller dataset (the fruit dataset)?

[2020-09-15 07:23] sayakpaul commented on #22
Here's the **mAP@.50IOU** ( standard in object detection evaluation)

![image](https://user-images.githubusercontent.com/22957388/93178783-58f43600-f752-11ea-8667-b9bff490ad68.png)

I think it's pretty good.

[2020-09-15 08:08] sayakpaul commented on #21
@khanhlvg one doubt I forgot to ask during our discussion today

I am guessing this is because during QAT the fake nodes that get inserted to the graph are in int, so setting this might lead to inconsistencies?

[2020-09-15 08:10] khanhlvg commented on #21
Yes that's correct.

[2020-09-15 08:22] khanhlvg commented on #21
The `ssdlite_mobiledet_dsp_320x320_coco_2020_05_19/uint8` bundled TFLite model also use mean = 128, std = 128 quantized stats so I suspect that the fp32 and uint8 models are trained with different normalization method.

![image](https://user-images.githubusercontent.com/5379361/93184580-640d8d00-f777-11ea-9ecc-7575431a3ef9.png)

[2020-09-15 08:27] sayakpaul commented on #21
Okay. Also referring back to

I guess we can skip the `fp16` conversion for EdgeTPU and DSP variants? WDYT?

[2020-09-15 09:27] sayakpaul commented on #21
Another question is how did you figure out that the FP32 post-processing operations don't support integer? I see the output types are `float32, float32, float32, float32` but it may not be immediately conceivable that those operations won't support integer precision. Please correct me if I am wrong.

[2020-09-15 09:51] khanhlvg commented on #21
Yes, they aren't useful so we can skip them.

I tried converting with these parameters and the converter returned an op not supported error. You need the tf-nightly build to see the error because the error message was broken in v2.3.
[code]

[2020-09-15 09:56] sayakpaul commented on #21
I see. Very useful, thank you!

[2020-09-15 10:43] sayakpaul commented on #21
I incorporated your suggestions into the conversion notebook. The integer quantized models are performing very unexpectedly. The results are undesirable. Here's my updated [Colab Notebook](https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/MobileDet_Conversion_TFLite.ipynb).

[Here](https://storage.googleapis.com/demo-experiments/MobileDet_TFLite.zip) is the converted TFLite fi

[2020-09-15 12:06] khanhlvg commented on #21
The way you processed the input looks incorrect so I rewrote that part in this [notebook](https://colab.research.google.com/gist/khanhlvg/e97366de045f8c01e94014faa2d69a05/mobiledet-integer-quantization.ipynb), which include both type of quantization: integer only quantize the fp32 model (model_int8.tflite) and converting the qat uint8 model (model_qat.tflite).

Here is how to preprocess the input:

[2020-09-15 12:25] sayakpaul commented on #21
Thanks!

I think it's already there -

[code]

[2020-09-15 12:29] sayakpaul commented on #21
Also, according to [this comment](https://github.com/ml-gde/e2e-tflite-tutorials/issues/21#issuecomment-692063937) you are also setting `converter.inference_output_type = tf.uint8` but in the notebook you linked above I don't see it. Could you expand on this?

[2020-09-15 12:31] khanhlvg commented on #21
Oh I see. Thanks for pointing out.

It turned out that `converter.inference_output_type = tf.uint8` doesn't have any effect as the final `TFLite_Detection_PostProcess` op is a custom ops that doesn't support uint8 processing. `Dequantize` ops were automatically added before the op.

[2020-09-15 12:34] sayakpaul commented on #21
Okay. So, what would be the best way for someone to decide when to set it and when not to? One example I have is the error that you got with `tf-nightly` converter as you mentioned [here](https://github.com/ml-gde/e2e-tflite-tutorials/issues/21#issuecomment-692606370). But in this case, what would be the approach?

[2020-09-15 12:39] khanhlvg commented on #21
Unfortunately it'll be trial-and-error. I won't send `converter.inference_input/output_type` if it's not absolutely necessary (e.g. running on a hardware accelerator that only support integer) to keep the integer quantized model interface compatible with its float version. Most mobile use cases are fine with this. If I need to have integer input/output, I'll try setting both to input/output type t

[2020-09-15 12:41] sayakpaul commented on #21
That makes sense. I think this is practical advice and we should include these commentaries in the blog post. WDYT?

[2020-09-15 12:42] khanhlvg commented on #21
SGTM. Let's include the findings we have in the blog post.

[2020-09-15 12:44] sayakpaul commented on #21
Another finding is that I see that you are not including the representative dataset [here](https://colab.research.google.com/gist/khanhlvg/e97366de045f8c01e94014faa2d69a05/mobiledet-integer-quantization.ipynb#scrollTo=d5HQ7Bowm1EF&line=6&uniqifier=1). Is this expected?

[2020-09-15 13:43] khanhlvg commented on #21
Yes, the output range of the each op is already recorded during QAT so there's no need to provide representative dataset during conversion.

[2020-09-15 13:48] sayakpaul commented on #21
That makes sense. The performance is way better now -

![download](https://user-images.githubusercontent.com/22957388/93218668-1a796e00-f788-11ea-89d2-f95dfda362b7.png)

I also looked into why the integer only quantization for the CPU-based MobileDet models were not performing well and it looks like I have gotten past it. I have updated [my notebook](https://colab.research.google.com/github/sayakp

[2020-09-16 06:41] khanhlvg commented on #21
Great, thanks Sayak!

Minor feedback: I think `ssd_mobiledet_dsp_coco_uint8_int8` should be `ssd_mobiledet_dsp_coco_uint8_qat` to avoid confusing reader that you apply integer only post-training quantization to the uint8 checkpoint.

[2020-09-16 07:07] khanhlvg commented on #26
FYI the TFLite team is working on updating the Android image segmentation model to demonstrate 2 ways of running segmentation models: with Task API and with Support Library + vanilla TFLite interpreter.

We should wait a few weeks before starting to work on this.

[2020-09-16 07:18] sayakpaul commented on #21
Alrighty. I will rename it accordingly.

[2020-09-23 14:38] sayakpaul commented on #22
@khanhlvg moving this to done. Feel free to open it.

[2020-09-23 14:38] #22 closed

[2020-09-23 14:42] sayakpaul commented on #8
@khanhlvg I tried to again convert Mask R-CNN using the latest converter still no luck. If you remember we had tried this a few months back and we were running into runtime disconnects after the conversion.

I simplified the workflow a bit and I wanted to share it.

Here's [my notebook](https://colab.research.google.com/drive/1tdjCjHfLV4h_uwz2oRP2BU53iFGiKgWP?usp=sharing). My guess is that the NMS

[2020-09-26 02:53] sayakpaul commented on #21
* Blog post's been published - https://sayak.dev/mobiledet-optimization/
* Notebook - https://github.com/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/MobileDet_Conversion_TFLite.ipynb

@khanhlvg FYI.

[2020-09-26 02:53] #21 closed

[2020-09-26 02:54] #7 closed

[2020-09-27 01:44] sayakpaul commented on #23
I went ahead and created a project repository for this - https://github.com/sayakpaul/BERT-for-Mobile. Will beginning the training soon.

[2020-09-28 04:05] sayakpaul commented on #6
@AbdulRashidReshamwala could you share an update on this since you had pinged me?

[2020-09-28 21:52] AbdulRashidReshamwala commented on #6
I have completed the part explaining the integration of deepspeech on android the part I am having trouble is fine tuning the deepspeech model can you help me out on that part

[2020-09-29 01:19] sayakpaul commented on #6
I am not familiar with the model and currently I am a bit swamped. Might be better if you could ask the DeepSpeech community directly.

[2020-09-30 14:23] AbdulRashidReshamwala commented on #6
Okay sure let me do some more digging in

[2020-10-05 09:52] khanhlvg commented on #8
@srjoglekar246 will know better but I believe that the NMS ops aren't fully supported yet with TFLite. Sachin only implemented the op specifically for the SSD head as custom ops, hence requiring dedicated export code as you saw in the script in ODT API repo.

[2020-10-05 10:19] sayakpaul commented on #8
Okay.

[2020-10-05 15:50] srjoglekar246 commented on #8
Mask RCNN is supported by TFLite, but only in a very limited way with only the detection heads. See [this comment](https://github.com/tensorflow/tensorflow/issues/34845#issuecomment-573156336) for details.

[2020-10-05 16:26] sayakpaul commented on #8
Thanks @srjoglekar246.

@khanhlvg would you like me to try what Sachin suggested in the comment and prepare a notebook/blog post?

Since the model is not mobile use-cases would it make sense? LMK.

[2020-10-05 16:32] srjoglekar246 commented on #8
I don't think so, TBH. We are working on supporting CenterNet & EfficientDets in the coming weeks, those might be better examples of advanced architectures on-device.

[2020-10-05 16:41] sayakpaul commented on #8
Oh cool.

There's a few-shot themed CenterNet Colab Notebook tutorial in the TFOD API repository. While trying it out in eager mode I couldn't figure out how to properly do the export.

The coming update would definitely be interesting then.

One point I would note here is that the purpose here is not just to showcase the usage of advanced architectures but also provide the developers a guide to c

[2020-10-06 11:37] #8 closed

[2020-10-15 04:09] khanhlvg opened #32 "Audio event classification sample"
* Goal: Build a sample app for [Yamnet](https://github.com/tensorflow/models/tree/master/research/audioset/yamnet), a pretrained model that can recognize many different kinds of audio event.
* References:
  * [Pretrained model](https://tfhub.dev/google/lite-model/yamnet/tflite/1)
  * [TFLite sound classification Android sample](https://github.com/Sa-ryong/examples/tree/master/lite/examples/sound_c

[2020-10-15 04:29] khanhlvg opened #33 "Custom pose classification tutorial"
# Goal:
* Write a tutorial to explain how to train a custom pose classifier (e.g. to detect yoga pose)

# Technologies used:
* [ML Kit's Pose Detection API](https://developers.google.com/ml-kit/vision/pose-detection) for pose detection
* TF and TFLite to train a custom model that takes ML Kit's model as input, and outputs classification logits. A model with 2 Dense layers should be enough.
* Fireb

[2020-10-20 16:20] sayakpaul commented on #32
@khanhlvg does this indicate we can now convert an audio classification model trained using Teachable Machine?

[2020-10-20 16:28] AbdulRashidReshamwala commented on #6
got Deepseech setup on collab https://colab.research.google.com/drive/1RZ8PG3rqtxpaB_nkVLAuC9pPcgNovlST?usp=sharing

[2020-10-21 02:40] sayakpaul commented on #6
Thanks for making this happen @AbdulRashidReshamwala. What would be the next step from here? Also, I would recommend committing the Colab Notebook to the repository you were maintaining for the project.

[2020-10-21 08:33] AbdulRashidReshamwala commented on #6
I will start with explaining the fine tuning process today once that is done the only thing that remains will be formating

[2020-10-23 06:14] sayakpaul commented on #33
Summarizing the discussion between @khanhlvg and myself from today's meeting -

- We first need to start with a demo mobile application (preferably Android or iOS) to first gather data. Here's how the application could be utilized -
  - Let the user first decide which pose (yoga pose for example) they would want to make.
  - Under the pose received from the above step the application would start c

[2020-10-24 06:14] Anil-matcha commented on #33
Hi @khanhlvg . I can help with building an android app to collect the data required and once it is done can help with training a model too. I am creating a basic repo for the android app here https://github.com/Anil-matcha/pose_detection_data_collector .
Kindly let me know if you have any other information to discuss

[2020-10-25 22:02] khanhlvg commented on #33
@Anil-matcha thank you for your interest! @sayakpaul is looking for someone who can develop the Android app for data collection so I think this can be a nice collaboration.

@sayakpaul WDYT?

[2020-10-26 01:33] sayakpaul commented on #33
Yeah exactly. @Anil-matcha and J have discussed about it and we are game :D

[2020-10-31 15:39] farmaker47 commented on #32
@khanhlvg
I am definetely interested about that!
Started reading all information...

[2020-11-01 06:12] farmaker47 commented on #32
I made a colab notebook with executable code blocks and the ability to hear and try different audio files
https://colab.research.google.com/drive/1tM9LIcFr5PCggzUqM0BXr07Zokil-Bye?usp=sharing

[2020-11-01 07:00] sayakpaul commented on #32
@farmaker47 do you want to create a separate repository for the project? Also, feel free to send a PR by including the link in the README of this repository. We can then scope this project :D

[2020-11-01 07:03] farmaker47 commented on #32
Yes sure!

I will create one when I start working the android part!

[2020-11-01 17:12] farmaker47 commented on #32
Hey @khanhlvg and @sayakpaul
I paste here some significant results from the benchmark tool for the yamnet tflite model.

![yamnet_pixel_cpu_plus_hexagon](https://user-images.githubusercontent.com/26084498/97809560-28bb1500-1c76-11eb-946b-1654b743d0ab.PNG)

[2020-11-01 17:16] farmaker47 commented on #32
I want your opinion @khanhlvg @sayakpaul about the fact that I get tflite error for this model when I try to use GPU.
There are no results in every phone configuration.
The TF Hub url is [this](https://tfhub.dev/google/lite-model/yamnet/tflite/1) where there is a code snippet on how to use this model.
Do you think that this model is not for GPU and why is that?

[2020-11-02 03:52] sayakpaul commented on #32
@farmaker47 it can be that the model is not yet supported by the TFLite GPU delegate or at least some parts of the model are not yet supported. For example, if I recollect correctly `argmax()` operation is not yet supported.

So, a good homework for you would be to load up the TFLite model in Netron and compare which ops [are not supported by the delegate](https://www.tensorflow.org/lite/performan

[2020-11-04 15:49] khanhlvg commented on #32
@farmaker47 @sayakpaul It's great to see the progress on this and sorry for the delayed response from my side.

I think there's a good chance that the model isn't compatible with GPU delegate. To find out, you can run the [benchmark tool](https://www.tensorflow.org/lite/performance/measurement#native_benchmark_binary) with the yamnet model and see the output/error message from the tool to find out

[2020-11-05 03:19] anilmaddala commented on #33
@Anil-matcha @sayakpaul I would like to jump in on the project, is there any thing either of you need help with? I can help with on device inference for Android.

[2020-11-05 03:35] sayakpaul commented on #33
@anilmaddala you can collaborate @Anil-matcha on the Android part for now on. Once that is sorted out we can work on the next steps together i.e. collecting the data and building the downstream model and so on.

[2020-11-15 11:39] dnaveenr commented on #2
@margaretmz  I'm interested on working on this project. May I know what are the expectations/requirements for this ?

[2020-11-15 17:01] tulasiram58827 opened #36 "CRAFT TFLITE MODEL"
Craft is one of the popular architecture for text detection. But the tflite version is not available yet. I would like to convert pretrained model which is trained on SynthText, IC13, IC17 datasets to tflite version.

I already converted to tflite but facing some minor issues. If you would like to proceed me I am happy to add code and will point out the challenges I am facing.

@sayakpaul

[2020-11-15 17:28] sayakpaul commented on #36
Please refer to the contribution guidelines here: https://github.com/ml-gde/e2e-tflite-tutorials/wiki/How-to-contribute-to-the-E2E-TFLite-Tutorials%3F.

[2020-11-16 04:10] tulasiram58827 commented on #36
Thanks for reply.

Step 1. Propose a project idea with either a brief description or an overview page if you wish to add more context about it.

Do I need to propose a project idea by creating a issue.(If yes I already did that.)

[2020-11-16 04:55] sayakpaul commented on #36
You can first create a repository dedicated to the project you are proposing. Then maybe commit all the necessary files there and then we can discuss all the problems you are facing there in the repository itself.

[2020-11-16 07:48] tulasiram58827 commented on #36
Thanks @sayakpaul .

Created the [repo](https://github.com/tulasiram58827/craft_tflite) and added all the necessary files and also created new issue in the repo itself and tagged you.

[2020-11-16 08:45] sayakpaul commented on #36
Thanks for your hard work. After we get past the comments (I shared on the repository) please submit a PR to this repository adding the project repo in [here](https://github.com/ml-gde/e2e-tflite-tutorials#end-to-end-tutorials-in-progress).

[2020-11-16 11:01] tulasiram58827 commented on #36
Hi @sayakpaul . Updated the repo with all the modifications suggested except benchmarking and also create the PR to this repository. Find the PR [here](https://github.com/ml-gde/e2e-tflite-tutorials/pull/37)

[2020-11-17 15:48] tulasiram58827 commented on #36
Can we publish the models created in this [repo](https://github.com/tulasiram58827/craft_tflite) to tfhub? If yes can you or anyone guide me the process to do so.

[2020-11-22 16:10] farmaker47 commented on #32
Updated [colab notebook](https://colab.research.google.com/drive/1tM9LIcFr5PCggzUqM0BXr07Zokil-Bye?usp=sharing) with inference with interpreter with the [tflite model](https://tfhub.dev/google/lite-model/yamnet/tflite/1).

Procedure of collecting sound, transforming it to correct form and infering with the interpreter seems similar with the one that we did with the SPICE model. So now what is left

[2020-11-24 07:44] tulasiram58827 opened #38 "OCR TFLITE"
Previously we succesfully created TFLite models for CRAFT text detector. But text detectors are generally aren't much use if it's not combined with OCR and I think there aren't much opensource tflite models are available in OCR. So I did as small research and initially converted captcha ocr to tflite which is giving almost same results as original model.

Please find this [repo](https://github.com

[2020-11-24 08:13] sayakpaul commented on #38
On-device OCR is pretty useful in my opinion.

Just for more clarification, @tulasiram58827 took the model as shown in [this official Keras example](https://keras.io/examples/vision/captcha_ocr), was able to successfully convert it to TFLite. He also plans to try out [EasyOCR](https://github.com/JaidedAI/EasyOCR) to see if their pre-trained models could be converted to TFLite. This will be particu

[2020-11-24 08:14] sayakpaul commented on #23
Closing this because of inconsistencies in performance.

[2020-11-24 08:14] #23 closed

[2020-11-24 08:22] tulasiram58827 commented on #38
Created [PR](https://github.com/ml-gde/e2e-tflite-tutorials/pull/39)

[2020-11-26 04:23] farmaker47 commented on #32
I upload the first outputs from our model when the same .wav file is infered:

- Colab notebook TensorFlow model: 9.9126965e-01 2.6559830e-04 1.5967786e-03 ..........
- Colab notebook TF Lite model: 9.91269529e-01 2.65538692e-04 1.59677863e-03 ..........
- Mobile phone TFLite file: 0.9912695, 2.655983E-4, 0.0015967786 ..........
Clearly we have an exact match and everything seems to work fine!!!

[2020-11-26 13:04] khanhlvg commented on #32
Thanks George for the update! It looks like you're making good progress :)

Indeed! Classification model aren't computational expensive.

[2020-11-27 01:57] sayakpaul commented on #36
Tutorials published -

* https://tulasi.dev/craft-in-tflite
* https://sayak.dev/optimizing-text-detectors/

CRAFT models are also yet to publish on TensorFlow Hub.

@tulasiram58827 @khanhlvg

[2020-11-27 01:57] #36 closed

[2020-11-27 02:00] sayakpaul commented on #33
Is there an update you, folks, would like to share? @anilmaddala @Anil-matcha

[2020-11-27 07:50] farmaker47 commented on #32
Clearly android app outputs the same labels as colab. I think project is going to finish real fast!
![Capture](https://user-images.githubusercontent.com/26084498/100424271-01e5d800-3096-11eb-9206-fb24d0155b64.PNG)

[2020-11-27 09:59] tulasiram58827 commented on #38
Hi everyone, While converting [EasyOCR](https://github.com/JaidedAI/EasyOCR) to ONNX I am facing not supported operator issues. So I decided to convert [Keras OCR](https://github.com/faustomorales/keras-ocr) to TFLite and succesfully converted to TFLite. Also succesfully did inference and also benchmarked the dynamic range and float16 quantized model. I am in the process of creating small dataset

[2020-11-27 10:13] sayakpaul commented on #15
This thread is to be followed - https://github.com/ml-gde/e2e-tflite-tutorials/issues/38.

[2020-11-27 10:13] #15 closed

[2020-11-27 10:20] sayakpaul commented on #38
This is really wonderful.

**Keras OCR** is indeed a fantastic project that allows us to run off-the-shelf OCR inference and even fine-tune OCR models. @tulasiram58827 I would suggest publishing these models on TF Hub as well.

Also, here are a couple of comments on the notebook -
* Provide citation to the code where needed.
* It looks like you have uploaded images to the Colab runtime for inferen

[2020-11-27 11:33] tulasiram58827 commented on #38
Created [PR](https://github.com/tensorflow/tfhub.dev/pull/21) for publishing TFLite Models. Updated [Notebook](https://github.com/tulasiram58827/ocr_tflite/blob/main/colabs/KERAS_OCR_TFLITE.ipynb) with all the points mentioned.

[2020-11-27 11:38] sayakpaul commented on #38
Looks good to me.

So, in `build_model` the CTC Decoder part is being discarded. Right? You can lament about it in the notebook. You can also clear out the unnecessary outputs. The rest of the things look pretty good.

[2020-11-27 11:57] tulasiram58827 commented on #38
Done.

[2020-11-27 16:58] tulasiram58827 commented on #38
Problems with Integer Quantizations:

**1. Integer Quantization:**

I am successfully able to convert using Integer Quantization . But while doing inferencing I am facing issues:

**2. Fully Integer Quantization:**

This is the error log while converting using Fully Integer Quantization technique:

Quantization not yet supported for op: 'CAST'.
Quantization not yet supported for op: 'CAST'.
Quanti

[2020-11-29 17:19] tulasiram58827 opened #42 "Machine Translation TFLite Models"
Hi all,
From past few weeks with the help of @sayakpaul  I worked on creating TFLite models for [Text Detection](https://github.com/tulasiram58827/craft_tflite) and [Recognition](https://github.com/tulasiram58827/ocr_tflite). I have also created a [Notebook](https://github.com/tulasiram58827/ocr_tflite/blob/main/colabs/ENDTOEND_OCR_TFLITE.ipynb) to do end to end OCR inference with a choice to sele

[2020-11-29 17:23] sayakpaul commented on #42
Tagging in @margaretmz and @farmaker47.

[2020-11-30 07:23] khanhlvg commented on #42
FYI:

* ML Kit has a [Translation API](https://developers.google.com/ml-kit/language/translation) that runs on-device. You may want to compare it with other open-source Machine Translation models and provide an insight on how their performance are compared to each other.
* [TensorFlowTTS](https://github.com/TensorSpeech/TensorFlowTTS) is a Text-To-Speech engine by the community and it supports con

[2020-11-30 07:31] tulasiram58827 commented on #42
Thanks @khanhlvg for references.

- Yes we will compare it.
- This is actually gold mine. Thank you so much for sharing. I am excited to see integration of OCR models with this TTS .

[2020-11-30 07:49] sayakpaul commented on #42
For TTS, we have this too - https://github.com/mozilla/TTS.

[2020-12-02 13:52] tulasiram58827 commented on #38
Hi @khanhlvg

I have been working on conversion of [EasyOCR](https://github.com/JaidedAI/EasyOCR) to TFLite . I have been getting this error while converting to TFLite.

	In {{node AssignVariableOp}}

I successfully converted the PyTorch Model to ONNX and ran the inference with sample data and the results are matching correctly. So I hope there are no issues in PyTorch --> ONNX conversion. Even th

[2020-12-04 05:48] tulasiram58827 commented on #38
Hi @khanhlvg

To study the above issue further and find out the reason I created a simple LSTM layer model in PyTorch and tried converting to TFLite. I came across the same error mentioned in the previous comment. Sharing the [Notebook](https://colab.research.google.com/gist/tulasiram58827/d133acfa4dc44f7ee7c0412f2b12c326/lstm_tflite.ipynb) with you. Hope it helps you.

[2020-12-04 06:19] khanhlvg commented on #38
The issue came from the fact that the SavedModel contains mutable variable, which isn't supported by TFLite Converter. I think it may come from the PyTorch -> ONNX -> TF conversion pipeline rather than from the fact that it's a LSTM and not being supported. I'm waiting for a TFLite engineer do take a further investigation. I'll keep you posted.

[2020-12-04 06:29] tulasiram58827 commented on #38
Okay. Thanks, @khanhlvg for the update.

[2020-12-04 06:38] sayakpaul commented on #38
What about this one @khanhlvg?

https://github.com/ml-gde/e2e-tflite-tutorials/issues/38#issuecomment-734921176

Could you shed some light on it?

[2020-12-04 06:43] khanhlvg commented on #38
Unfortunately they are the limitation of the current TFLite integer quantization engine. There isn't much we can do about that.

[2020-12-05 17:46] anilmaddala commented on #33
@sayakpaul I am working on the data collection part of the app. I have integrated the MLKit apis to get the Pose points, need to implement the persistance part. Can we do on device training from pose classification instead of doing the training on Firebase?

[2020-12-05 18:18] sayakpaul commented on #33
@anilmaddala thanks for the updates. Actually, after we collect the data, the plan is to train a shallow neural network externally with TensorFlow/Keras, convert it to TensorFlow Lite and then redeploy it.

[2020-12-06 03:10] sayakpaul commented on #18
@farmaker47 are you still working on this project?

[2020-12-06 03:13] sayakpaul commented on #1
@hunglc007 could you provide an update on this project?

If you were able to obtain a TFLite variant of YOLOv3_tiny could you help me with the following?
* Notebook that shows the conversion process and inference in Python
* Links to the TFLite models

Additionally, would you be interested in publishing these models from TensorFlow Hub? That way the models could reach an even bigger audience.

[2020-12-06 03:16] sayakpaul commented on #32
@farmaker47 from our previous discussions, I think that the only thing that is remaining here is the blog post. Right?

[2020-12-06 04:31] farmaker47 commented on #32
Yes Sayak. I have started writing the blog post.

[2020-12-06 04:33] farmaker47 commented on #18
No I am not Sayak . I have just finished the android application.

[2020-12-06 04:44] sayakpaul commented on #18
I think we could still include the application as a demo app within our README.

[2020-12-07 18:32] anilmaddala commented on #33
@sayakpaul we might have to still build a base model in cloud. I was thinking for users to test out the app on **new** poses, we can implement something like https://blog.tensorflow.org/2019/12/example-on-device-model-personalization.html for on-device training and inference.

[2020-12-08 01:44] sayakpaul commented on #33
@anilmaddala so the idea here is after collecting the poses, we will build a shallow model, convert it to TFLite and deploy that TFLite model to the application to perform on-device inference.

Let me know if there's any doubt in that regard.

[2020-12-12 14:09] sayakpaul commented on #38
* [Using Keras OCR (TFLite model) in an end-to-end scenario (Colab Notebook)](https://github.com/tulasiram58827/ocr_tflite/blob/main/colabs/ENDTOEND_OCR_TFLITE.ipynb)
* [Keras OCR Models on TensorFlow Hub](https://tfhub.dev/tulasiram58827/lite-model/keras-ocr/dr/1)

[2020-12-12 14:09] #38 closed

[2020-12-12 14:10] sayakpaul commented on #32
@farmaker47 can we close this issue now as you have already released the blog posts?

[2020-12-12 14:11] farmaker47 commented on #32
Yeah sure!

Στις Σάβ, 12 Δεκ 2020, 4:10 μ.μ. ο χρήστης Sayak Paul <
notifications@github.com> έγραψε:

[2020-12-12 14:12] #32 closed

[2020-12-23 08:20] tulasiram58827 opened #47 "TTS TFLite Models"
We(@sayakpaul ) are working on Conversion of multiple TTS Models and Vocoders to TFLite. We succesfully converted few TTS Models and few Vocoder Models.

Please find the progress in this [Repository](https://github.com/tulasiram58827/TTS_TFLite)

[2020-12-28 09:53] tulasiram58827 commented on #47
Succesfully completed the conversion of few models. Also added the benchmarks for the same.

Please find more details in the [Repository](https://github.com/tulasiram58827/TTS_TFLite)

[2020-12-28 09:53] #47 closed

[2020-12-28 10:54] sayakpaul commented on #12
@margaretmz since there's [an existing tutorial](https://blog.tensorflow.org/2020/12/how-to-generate-super-resolution-images-using-tensorflow-lite-on-android.html) (published from the official TensorFlow blog) on this topic I think we can close this one.

[2021-02-09 05:59] SunAriesCN commented on #33
Well, it this [google-research/poem](https://github.com/google-research/google-research/tree/master/poem) may help for it.

[2021-03-28 08:01] sayannath commented on #33
@anilmaddala are you currently solving this issue? If not I would like to take this forward.

[2021-12-07 10:56] singh-aymcommerce opened #56 "East tflite on Pixel emulator"
I am trying to run EAST tflite model provided by @sayakpaul on tf-hub https://tfhub.dev/sayakpaul/lite-model/east-text-detector/fp16/1 to detect text on an image on Pixel emulator. I am able to use custrom model https://developers.google.com/codelabs/tflite-object-detection-android#6 on sample images to detect salads. I am a complete novice on running tflite on android devices. So i just replaced

[2021-12-07 11:10] sayakpaul commented on #56
@farmaker47 could you help here?

[2021-12-07 11:31] singh-aymcommerce commented on #56
@sayakpaul @farmaker47 I used the link : https://www.tensorflow.org/lite/convert/metadata_writer_tutorial to convert the above mentioned float16 tflite EAST model to include metadata. But now I am receiving an altogether different error. It seems I am doing something wrong here. Please help

E/TaskJniUtils: Error getting native address of native library: task_vision_jni
    java.lang.IllegalArgume

[2021-12-07 13:53] farmaker47 commented on #56
Yes sure.. Let me take a look in the next days.

[2021-12-07 14:02] farmaker47 commented on #56
@singh-aymcommerce Unfortunately object detector applications and EAST tflite file do not match. You have to use a custom project with an Interpreter. Check the guide at Tensorflow Lite https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_java
You can firstly use the Python API to run inference..so you can understand how you are going to acomplish that in Java inside android pro

[2021-12-07 14:11] singh-aymcommerce commented on #56
@farmaker47 thank you for your response.  I will try your above proposed solution to write custom interpreter in java. Give me couple of days and i will get back if I am able to do it. Thanks a lot @farmaker47 @sayakpaul :D

[2021-12-20 11:27] singh-aymcommerce commented on #56
hi @farmaker47 @sayakpaul

I am using https://colab.research.google.com/github/sayakpaul/Adventures-in-TensorFlow-Lite/blob/master/EAST_TFLite.ipynb#scrollTo=Myc8Otbl0Mqi to convert .pb east model to tflite

but it doesn't show how to add metadata to the model, hence using this tutorial https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/convert/metadat

[2021-12-21 16:05] sahasraa commented on #14
hi @sayakpaul  @khanhlvg  can you please share me the inference script for D.range and float16 quantized models?
also could you help me understand this.. my original model size is 96.7mb, after conversion, normal tflite is 24.7mb, and dynamic range.tflite is 24.7mb.  i understand that using dynamic range size is reeduced by 4x  but why is normal tflite and dynamic range are of both same size. is i

[2021-12-27 11:41] singh-aymcommerce commented on #56
@sayakpaul @farmaker47 I am successfully able to import tflite model for EAST with your help.

i am coming across one weird thing that while adding metadata i added a labels.txt with only one line "text" as only one class is detected as label
![i01_usPin2rotatecrop(1)](https://user-images.githubusercontent.com/78732650/147468511-7ae47ce4-f3b5-46b3-8de2-ce39743b073c.jpg)

but there are all null val

[2021-12-29 08:17] singh-aymcommerce commented on #56
@sayakpaul @farmaker47 I have solved the above issue :D

I have come across another roadblock on how to implement nonMaxSuppresion on android. Can you help me please?

[2022-01-10 00:31] 10770 commented on #56
Boa noite, eu acho que você está enviando um e-mail para a pessoa errada.
Sou José Felipe, sou do Brasil.

Em qua., 29 de dez. de 2021 às 05:17, singh-aymcommerce <
***@***.***> escreveu:

--

*Cordialmente, *
*José Felipe.  *

Universidade Federal de Sergipe (UFS), Campus São Cristóvão.
Departamento de Química (DQI)
Laboratório de Corrosão e Nanotecnologia (LCNT/NUPEG).
Discente do curso de Quími